<div class="banner">
    <img src="assets/images/codecycle-logo-animation.gif" alt="">
</div>

<div class="header">
    <h1>Animation Workshop</h1>

    <h2>Insert your code below!!</h2>
</div>


<section id="basic" class="workshop-section">
    <h1>Section 1: Basic</h1>
</section>

<section id="complex-sequence" class="workshop-section">
    <h1>Section 2: Complex Sequence</h1>
</section>

<section id="multiple" class="workshop-section">
    <h1>Section 3: Multiple Animations</h1>
</section>

<section id="reusable" class="workshop-section">
    <h1>Section 4: Reusable Animations</h1>
</section>

<section id="builder" class="workshop-section">
    <h1>Section 5: Animation Builder</h1>
</section>
